/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: whitesmoke; /* Light Blue Background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #a9e0ff; /* Slightly darker blue */
    width: 400px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 100px;
    margin: 10px auto 20px auto;
    display: block;
}

.dropdown, 
.input-field, 
.time-field {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 10px;
    display: block;
    outline: none;
}

.time-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.time-field {
    width: 35%;
}

.time-separator {
    font-size: 18px;
    color: #000;
}

.submit-btn {
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #00e676; /* Green button */
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #00c853;
}
